@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="text-center mt-5">
    <h1 class="display-4">Welcome</h1>
    <p>Start organizing your tasks and stay productive!</p>
    <p>get started by creating your first ro-do list</p>
    <a href="/List/Index" class="btn btn-outline-primary">Create New To-Do List</a>
</div>
